.bg-secondary-color {
    background-color: $alto;
}

.text-white {
    color: white;
}

.text-white-in-hover {
    color: white !important;
}

.center-xs-block {
    @media screen and (max-width: 575px) {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

.my-xs-5 {
    @media screen and (max-width: 575px) {
        margin-top: 5px;
        margin-bottom: 5px;
    }
}
