// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
// Variables
@import "variables";
// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@import "node_modules/slick-carousel/slick/slick.scss";

@font-face {
    font-family: nunito-regular;
    src: url("../fonts/nunito-regular.ttf");
}

@import "variables";
@import "title-step";
@import "block";
@import "radioBtn-simulator";
// @import "checkboxBtn-simulator";
@import "spinner-static";
@import "input-pencil";
@import "select-custom";
// @import "../components/custom-select";
@import "../components/exp-icheck";
@import "../components/exp-spinner";
@import "../components/field-inline";
@import "../components/camp-inline";
@import "../components/input-date";
@import "../components/group-content";
@import "../components/popover";
@import "../components/choose-your-dates";
@import "../components/block-ask";
@import "../components/field-triangle";
@import "../components/croppie-image";
@import "../components/slick";
@import "card";
@import "skin";
@import "select2";
@import "media-query";
@import "utilities";

body {
    font-family: nunito-regular;
}
