.block {
    overflow: hidden;
    &-header {
        margin: 0;
        padding: 1rem;
    }
    &-body {
        margin: 0;
        padding: 0;
    }
    &-separation {
        padding: 15px 0;
    }
    &-item {
        width: 100%;
        padding: 20px 15px;
    }

    .list-group {
        border-top: 1px solid $snuff;
        margin: 15px 10px;
        padding: 0;

        & .info {
            display: none;
        }

        .badge {
            border: none;
            text-align: left;
            background: none;
        }
        .list-group-item {
            border: none;
            border-bottom: 1px solid $snuff;
            border-radius: inherit;
            padding: 10px 2em; 
            background: none;
            width: 100%;
            min-height: 3em;
            display: inline-block;
            & label {
                padding: 16px 34px;
                margin: 0;
                cursor: pointer;
                display: block;
            }
            & .badge {
                position: absolute;
                right: 20px;
                top: 50%;
                transform: translateY(-50%);
                color: black;
                font-weight: normal;
            }
        }
    }

    .list-group--light {
        @extend .list-group;
        border: none;
        margin: 0;
        .list-group-item {
            border: none;
            padding-left: 0; 
            padding-right: 0; 
        }
    }

    .content {
        padding: .5rem 15px;
        position: relative;
        border-top: 1px solid $snuff;
    }
    .btn-collapse {
        margin: 0;
        width: 100%;
        text-align: left;
        padding: 1.5rem 15px;
        font-size: 1.2em;
        color: black;
        cursor: pointer;
        border-top: 1px solid $snuff;
    }
    .radio-btn-simulator {
        margin-right: 10px;
    }
    input[readonly=readonly] {
        border: 1px solid $snuff;
    }
}

.divider {
    height: 5px;
    border-radius: 5px;
    width: 100%;
}
.divider--light {
    @extend .divider;
    height: 2px;
}
.divider--tiny {
    @extend .divider;
    height: 1px;
}
.divider--margin-tb {
    margin: 1.5em 0;
}

.list-group-item--point {
    &:before {
        content: '';
        display: inline-block;
        width: .8em;
        height: .8em;
        border-radius: 100%;
        background-color: $logan;
        margin-right: 10px;
    }
}

@media (min-width: 768px) {
    .block {
        &-header {
            padding-left: 2rem; 
            padding-right: 2rem; 
        }
        &-body {
            padding: 2rem;
        }
        &-item_dsk {
            border-bottom: 1px solid $snuff; 
            @include clearfix();
            &:first-child {
                border-top: 1px solid $snuff; 
            }
        }
        .btn-collapse {
            float: left;
            width: inherit;
            border-top: none;
            padding-top: .6rem; 
            padding-bottom: .6rem; 
            line-height: 40px;
        }
        .collapse {
            overflow: hidden;
            .custom-select {
                margin-top: -6px;
            }
        }
        .content {
            border: none;
        }

        .panel-group {
            margin: 15px 0;
            border-top: 1px solid $snuff;
        }
    }
}