.card {
    width: 100%;
    height: 100%;
    padding: 15px 3em;
    z-index: 15;
    display: none;
    .card-content {
        height: 100%;
        padding: 20px;
        background-color: white;
        -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
        box-shadow: 0 5px 15px rgba(0,0,0,.5);
        overflow: hidden;
    }
    .card-header {
        overflow: hidden;
        .close {
            float: right;
            height: 32px;
            width: 32px;
        }
    }
    .card-body {
        padding: 1em;
        line-height: 1.8em;
    }
}

.block {
    .panel-body {
        position: relative;
    }
    .card {
        position: absolute;
        top: 0;
        left: 0;
    }
}