.checkbox-btn-simulator {
    width: 16px;
    height: 16px;
    border: 2px solid $alto;
    margin-right: 10px;
    margin-bottom: -3px;
    background: none;
    display: inline-block;
    // &.active {
    //     &:before {
    //         content: "";
    //         width: 10px;
    //         height: 10px;
    //         margin-left: 1px;
    //         margin-top: 1px;
    //         background: $logan;
    //         display: block;
    //     }
    // }
}