.input-pencil {
    position: relative;
    margin-left: 0px;
    & input {
        padding-left: 10px;
    }

    .triangle {
        position: absolute;
        left: -17px;
        height: 34px;
        width: 20px;
        overflow: hidden;
        top: -7px;
        display: none;
        & .arrow-left {
            position: absolute;
            width: 79px;
            height: 55px;
            left: 8px;
            background: #e4e4f2;    
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
            border-radius: 2px;
            top: -2px;
        }
    }
}

@media only screen and (max-width: 768px) {
    .sidebar-open {
        .navbar {
            margin-left: 230px;
        }
    }
    .sidebar-toggle {
        display: block;
    }
}