/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .text-center-sm {
        text-align: center;
    }

    .text-left-sm {
        text-align: left;
    }

    .input-pencil {
        margin-left: 20px;
        & .triangle {
            display: block;
        }
    }

    .container-fluid {
        width: 95%;
        margin: auto;
    }
}