.radio-btn-simulator {
    width: 16px;
    height: 16px;
    border-radius: 100%;
    border: 2px solid $alto;
    background: none;
    display: inline-block;
    vertical-align: middle;
    margin-top: -5px;
    &.active {
        &:before {
            content: "";
            width: 10px;
            height: 10px;
            margin-left: 1px;
            margin-top: 1px;
            border-radius: 100%;
            background: $logan;
            display: block;
        }
    }
}