.select-custom {
    button {
        background-color:  $snuff;
        min-width: 150px;
        text-align: left
    }
    & .caret {
        border-top: 7px dashed;
        border-right: 7px solid transparent;
        border-left: 7px solid transparent
    }
}