.header .tape,
.footer,
.bg-primary,
.bg-primary:hover,
.bg-primary:active,
.bg-primary:focus,
button[type=submit],
button[type=submit]:hover, {
    background-color: $cornflowerBlue !important;
    color: $white;
}

.well,
.block .block-header,
.block .divider {
    background-color: $logan;
}

.bg-snuff,
.block input[readonly=readonly] {
    background-color: $snuff;
}

.full-width {
    width: 100%;
}
.half-width {
    width: 50%;
}

.separation {
    &__up {
        margin-top: 3rem;
    }
}

.visible {
    visibility: visible;
}
.no-visible {
    visibility: hidden;
}

.pdg-0 {
    padding: 0;
}
.pdg-l-0 {
    padding-left: 0;
}
.pdg-r-0 {
    padding-right: 0;
}
.pdg-t-0 {
    padding-top: 0;
}
.pdg-b-0 {
    padding-left: 0;
}

.mrg-0 {
    margin: 0;
}
.mrg-right {
    margin-right: .7rem;
}
.mrg-left {
    margin-left: .7rem;
}

.form-camp {
    padding-bottom: 1em;
}

.btn {
    padding-left: 3rem;
    padding-right: 3rem;
}

.btn-default {
    background: $alto;
    margin-left: .7rem;
}

.btn-info {
    background: $alto;
    border-color: $alto;
    color: black;
    font-size: 1.1em;
    &:hover{
        background-color: $alto;
        border-color: $alto;
        color: black;
    }
}

.btn-gray {
    background-color: #DCDCDC;
    color: black;
}

label {
    font-weight: normal;
    line-height: 34px;
    margin-bottom: 0;
}
.form-control,
.btn {
    border-radius: inherit;
}

.required {
    position: relative;
    span {
        position: absolute;
        left: 5px;
        top: 5px;
        font-size: 16px;
    }
}

.alert {
    margin-bottom: 0;
    padding: 45px;
    font-size: 1.8em;
    font-weight: bold;
    text-align: center;
    &.alert-warning {
        background-color: $tulipTree;
        border-color: $tulipTree;
        border-radius: inherit;
    }
}

.inline {
    display: inline;
}
.inline-block {
    display: inline-block;
}

.step-section {
    display: none;
}
:target {
    display: block;
}

.container-fluid {
    padding-left: 1rem;
    padding-right: 1rem;
}

.o-flow-h {
    overflow: hidden;
}

// Header
.header {
    img {
        width: 100%;
    }
    .tape {
        padding: 6px 10px;
        text-align: right;
        & .fa {
            font-size: 16px;
            color: $white;
        }
    }
}

// Section
.section {
    padding-bottom: 3em;
}

// Footer
.footer {
    padding: 20px 10px;
}

.p-loading-container {
    z-index: 1001;
}

.dev-badge {
    background: #c00;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    padding: 8px 10px;
    text-align: right;
    a {
        color: #fff;
        text-decoration: underline;
        font-size: 14px;
    }
    a:hover {
        color: #fff;
        text-decoration: underline;
    }
}
