.spinner-static {
        input,
        .btn {
            margin-right: 5px;
            background: $dustyGray;
            border-color: $dustyGray;
        }
        input {
            width: 100%;
            max-width: 220px;
            padding: 6px 20px;
        }
    }