.title-step {
    margin: 2rem 1rem;
    &__description {
        display: block;
        font-size: .7em;
        padding-bottom: 5px;
    }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .title-step {
        padding-left: 1rem;
        padding-right: 1rem; 
        &__description {
            display: inline-block;
            &:before {
                content: "(";
            }
            &:after {
                content: ")";
            }
        }
    }
}