// Name for color were taken from http://chir.ag/projects/name-that-color

$cornflowerBlue: #3F5AB0; //bg-primary
$white: #FFFFFF;
$logan: #ACB5D0; // block-title and divider insede block
$snuff: #E4E4F2; // some inputs and some lists
$alto: #ACB5D0; // btn-default
$dustyGray: #E3E7F2;
$tulipTree: #F1A948; // used on warning alert

// name of color are not same like the page where was consulted, becouse colors
// was updated

$exp_checkbox_size: 16px;