
.form-group.has-error .select2-container--default .select2-selection--single {
    border-color: #dd4b39;
}
.has-error label, .has-error .help-block {
    color: #F44336;
}
.select2-container--default.select2-container--disabled .select2-selection--single {
    background-color: transparent;
    border-bottom: 1px dotted #949494 !important;
}
.select2-container--default.select2-container--disabled .select2-selection--single:focus {
    outline: none;
}
.select2-container--default.select2-container--disabled .select2-selection--single .select2-selection__rendered {
    color: rgba(0,0,0,0.42);
}
.form-container .select2-container--default .select2-selection--single {
    border: none;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0;
    height: 35px;
}
.form-container .select2 {
    margin-top: 10px;
}

.flash-message {
    display: none;
}

td {
    padding: 10px 5px;
}