// #071132;
.sidebar-menu>li>.treeview-menu {
    background-color: @dark;
}

// #1C2D65;
.btn.btn-primary.active,
.sidebar-menu>li:hover>a,
.sidebar-menu>li.active>a,
.sidebar-menu>li.menu-open>a,
.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: @biscay;
}

// #3F5AB0;
.datepicker table tr td.active,
.datepicker table tr td.active.active,
.datepicker table tr td.active.disabled,
.datepicker table tr td.active.disabled:hover,
.datepicker table tr td.active:hover,
.fc-event::before,
.fc-event .fc-bg,
.btn.btn-primary,
.main-sidebar,
.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover,
.panel-primary .panel-heading {
    background-color: @blue;
    background-image: unset;
}
.label-primary,
.swal2-confirm {
    background-color: @blue !important;
}

// #7588C4;

// #B1BDE1;

// #D7DEF5;

// #535459;
.badge {
    background-color: @gray;
}

.btn.btn-default {
    background-color: @brand-color-3 !important;
    color: white !important;
}

.content-wrapper {
    background-color: @brand-color-4;
}

.btn.btn-primary:active, .btn.btn-primary:hover, .btn.btn-primary:focus, .bg-primary:active, .bg-primary:hover, .bg-primary:focus {
    background-color: @blue;
    color: white;
}
