.datepicker td,
.datepicker th {
    border-radius: 2px;
    border: 1px solid @white;
}

.datepicker table tr td.active,
.datepicker table tr td.active.active,
.datepicker table tr td.active.disabled,
.datepicker table tr td.active.disabled:hover,
.datepicker table tr td.active:hover {
    border-color: @white;
}
