.fc-day-cursor-pointer {
    .fc-day,
    .fc-day-number {
        cursor: pointer;
    }
}
.fc-event {
    &::before {
        -webkit-box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.2);
        box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.2);
        opacity: 0;
        transition: opacity 100ms linear;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: '';
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        pointer-events: none;
    }

    cursor: pointer;
    display: block;
    font-size: .85em;
    line-height: 1.3;
    border-radius: 2px;
    border-left: 1px solid #ffffff;
    font-weight: 400;
    padding: .10rem .35rem;
    
    .fc-timer {
        padding-bottom: 1px;
    }
    
    .fc-bg {
        opacity: 1;
        filter: alpha(opacity=100);
    }
}