.main-sidebar {
    padding-top: 0;
    border-right: 1px solid #5C5C5C;
    .logo {
        padding-top: 20px;
        text-align: center;
        display: block;
        background-color:  #f8f8f8;
        min-height: 150px;
    }
    a {
        color: @white;
    }
}

.sidebar a:hover {
    text-decoration: none;
}

.sidebar-menu > li:hover > a, .sidebar-menu > li.active > a, .sidebar-menu > li.menu-open > a {
    color: #fff;
    background: #1e282c;
}
.sidebar-menu > li > a {
    border-left: 3px solid transparent;
}
.sidebar-menu > li.active > a {
    border-left-color: #3c8dbc;
}

.sidebar-menu > li > .treeview-menu {
    margin: 0 1px;
    background: #2c3b41;
}
.sidebar-menu .treeview-menu > li > a {
    color: #8aa4af;
}
.sidebar-menu .treeview-menu > li.active > a, .sidebar-menu .treeview-menu > li > a:hover {
    color: #fff;
}