.qtip {
    min-width: 400px;

    .qtip-content {
        padding: 0;
        font-size: 14px;
        line-height: 2;
    }
    .qtip-close {
        color: @white;
        background: none;
        border: none;
        right: 3px;
        top: 0px;
        padding: 1rem;
        .ui-icon {
            &:hover {
                font-weight: bold;
            }
            width: auto;
            height: auto;
            font-weight: normal;
            font-size: 28px;
        }
    }
}

.qtip-data {
    font-size: 95%;
    line-height: 1;
    display: block;
    color: #757575;
    padding-bottom: .85rem;
}

.qtip-content__header {
    padding: 20px 20px 20px 64px;
    background: #3e59b0;
    color: @white;
    position: relative;
}

.qtip-content__body {
    padding: 14px 20px 16px 64px;
}

.qtip-button__circle {
    border-radius: 50%;
}

.qtip-button--edit {
    &:hover {
        color: @white;
        -webkit-box-shadow: 0 6px 10px 0 rgba(194, 194, 194, 0.14), 0 1px 18px 0 rgba(194, 194, 194, 0.12), 0 3px 5px -1px rgba(194, 194, 194, 0.2);
        box-shadow: 0 6px 10px 0 rgba(194, 194, 194, 0.14), 0 1px 18px 0 rgba(194, 194, 194, 0.12), 0 3px 5px -1px rgba(194, 194, 194, 0.2);
    }
    font-size: 2rem;
    position: absolute;
    bottom: -15px;
    left: 10px;
    background-color: #3e59b0;
    border: #3e59b0;
    color:@white;
    width: 40px;
    height: 40px;
    -webkit-box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.2);
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.2);
}