.sidebar-menu {
    .treeview-menu > li {
        position: relative;
        & > a {
            color: @alabaster;
        }
        &.active:before {
            content: '';
            display: block;
            position: absolute;
            left: -6px;
            top: 0;
            border: 15px solid transparent;
            border-left: 15px solid #fff;
        }
    }
}
