.login-logo,
.register-logo,
.login-box-body,
.register-box-body {
    background-color: #F8F8F8;
}
.login-page {
    background-color: @blue;
}
.login-logo {
    margin: 0;
}

.btn-checkbox {
    margin-right: 5px;
    input {
        visibility: hidden;
        margin-left: -10px;
    }
}

.full-width {
    display:block;
}

.datepicker {
    z-index: 2000 !important;
}
.p-loading-container {
    z-index: 2500 !important;
    background-color: rgba(255,255,255,0.8) !important;
}
.p-loading-fontawesome {
    font-size: 50px !important;
    top: calc(35%);
    color: #868686;
}
.action-btn:focus, .action-btn:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    filter: alpha(opacity=80);
    opacity: .8;
}
a.action-btn, button.action-btn {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
}
.action-btn {
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=40);
    opacity: .4;
    &[disabled] {
        opacity: .2;
        cursor: not-allowed;
    }
}
.table-icon {
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    text-shadow: 0 1px 0 #fff;
    opacity: .7;
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: transparent;
    border: none;
    padding: 2px 0;
    height: 100%;
}
.select2-container--default.select2-container--disabled .select2-selection--single {
    background-color: transparent;
    border: none;
    padding: 0;
    height: 100%;
}
.select2-container--default.select2-container--disabled .select2-selection--single .select2-selection__arrow {
    display: none;
}
form.readonly .form-group {
    margin: 0;
}

.d-flex {
    display: flex;
    display: -webkit-flex;
}

.dev-badge {
    background: #c00;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    padding: 8px 10px;
    text-align: right;
    a {
        color: #fff;
        text-decoration: underline;
        font-size: 14px;
    }
    a:hover {
        color: #fff;
        text-decoration: underline;
    }
}