.action-btn:hover {
    color: @dark;
}

body,
.table th,
.table td,
.action-btn,
.content-header>h1,
.navbar .navbar-brand,
.navbar a,
.form-control,
.select2-results__option {
    color: @gray;
}

.swal2-icon.swal2-warning {
    color: @orange;
}
.swal2-icon.swal2-warning {
    border-color: @orange;
}

.select2-results__option.select2-results__option--highlighted,.select2-results__option.select2-results__option--highlighted[aria-selected=true], .select2-results__option.select2-results__option--highlighted[aria-selected=true]:hover {
    color: @white;
}