// Name for color were taken from http://chir.ag/projects/name-that-color

@dark: #071132;
@biscay: #1C2D65;
@blue: #3F5AB0;
@ship-cove: #7588C4;
@periwinkle-gray: #B1BDE1;
@alabaster: #D7DEF5;
@gray: #535459;
@orange: #F69536;

@black: #000000;
@white: #FFFFFF;

@brand-color-3: #ACB5D0;
@brand-color-4: #E3E7F2;
