
.sch-container {
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
}
.sch-navline {
    height: 60px;
    color: #2F3A48;
    position: relative;
}
.sch-buttons {
    z-index: 2;
    width: 100%;
    position: absolute;
    top: 0px;
}
.sch-prev-button, .sch-next-button {
    float: right;
    width: 45px;
    z-index: 2;
}
.sch-prev-button i, .sch-next-button i {
    font-size: 35px;
    margin: 12px 0;
    cursor: pointer;
}
.sch-today-button {
    float: right;
    line-height: 60px;
    margin-right: 40px;
    z-index: 2;
}
.sch-today-button span {
    cursor: pointer;
}
.sch-date {
    text-align: center;
    line-height: 60px;
    font-size: 22px;
    position: absolute;
    top: 0px;
    z-index: 1;
    width: 100%;
}
.sch-header {
    /*width: calc(100% - 20px);*/
    border-top: 1px solid #cecece;
    border-left: 1px solid #cecece;
}
.sch-axis-x {
    float: left;
    width: 195px;
    height: auto;
}
.sch-axis-y {
    float: left;
    /*width: calc(100% - 195px);*/
    height: 60px;
    position: relative;
}
.sch-axis-x table, .sch-axis-y table {
    height: 60px;
    width: 100%;
}
.sch-current-month {
    height: 30px;
    line-height: 30px;
    border-right: 1px solid #cecece;
    border-bottom: 1px solid #cecece;
    text-align: center;
}
.sch-month-days {
    height: 30px !important;
}
.sch-month-days td {
    font-size: 12px;
}
.sch-scheduler table td {
    height: 100%;
    padding: 0;
    border-right: 1px solid #cecece;
    border-bottom: 1px solid #cecece;
    text-align: center;
}
.sch-data {
    -webkit-tap-highlight-color: transparent;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    -ms-touch-action: pan-y;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    max-height: 500px;
}
.sch-data .sch-entry {
    border-left: 1px solid #cecece;
}
.sch-data .sch-entry .sch-axis-x table td {
    font-size: 11px;
}
.sch-weekend {
    background-color: #FFF9C4;
}
.sch-event {
    position: absolute;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    font-size: 12px;
    border: 1px solid transparent;
    background-color: #5B9BE0;
    color: #FFF;
    height: 53px;
    line-height: 16px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    -webkit-box-shadow: 0 0 1px #FFF;
    -moz-box-shadow: 0 0 1px #FFF;
    box-shadow: 0 0 1px #FFF;
    padding-left: 10px;
    cursor: pointer;
    overflow: hidden;
    transition: width .2s, box-shadow .2s;
}
.sch-event.show {
    padding-right: 10px;
    width: auto !important;
    height: auto;
    z-index: 2;
    box-shadow: 3px 3px 5px black;
}
.sch-event span {
    display: block;
}
.sch-event[data-sch-event-selected="1"] {
    background-color: #337ab7;
}
