.block-ask {
    overflow: hidden;
    position: relative;
}

@media (min-width: 768px) {
    .block-ask {
        &:first-child {
            border-top: 1px solid $logan;
        }
        border-bottom: 1px solid $logan;
    }
        .block-ask__title {
            float: left;
        }
}