.camp-inline {
    overflow: hidden;
    margin-bottom: 1.3rem;
    &__container {
        display: block;
        overflow: hidden;
    }
    &__child {
        width: 100% !important;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    &__left {
        float: left;
        margin-right: .7rem;
    }
    &__right {
        float: right;
        margin-left: .7rem; 
    }
    &--half {
        width: 49%;
    }
}

// Start medias query
@media (min-width: 768px) {
    .camp-inline {
        margin-bottom: 0;
    }
}