.choose-your-dates {
    .fc-center {
        margin-top: 1em;
    }
    .fc-button {
        background: none;
        border: none;
        // box-shadow: none;
        font-size: 2em;
        padding-left: .5rem;
        padding-right: .5rem;
    }
    .fc-toolbar {
        margin: 1em 0 0 0;
    }
    .fc-view-container {
        border: 2px solid black;
    }
    .fc-day {
        position: relative;
    }
    .fc-day-number {
        visibility: hidden;
    }
    .fc-date-name--top {
        display: block;
        font-weight: 700;
        text-align: center;
        @media screen and (max-width: 575px) {
            position: relative;
            z-index: 2;
        }
    }
    .fc__icon {
        display: block;
        color: $dustyGray;
        font-size: 3em;
        position: absolute;
        bottom: .3em;
        right: .3em;
        @media screen and (max-width: 575px) {
            z-index: 1;
        }
    }
    @media screen and (max-width: 575px) {
        & .fc-head, & .fc-body {
            font-size: 10px;
        }
    }
}

.fc-unthemed .fc-popover,
.fc-unthemed .fc-row,
.fc-unthemed hr,
.fc-unthemed tbody,
.fc-unthemed td,
.fc-unthemed th,
.fc-unthemed thead {
    border-color: black;
    text-transform: uppercase;
}
