.croppie-image {
    position: relative;
    &__view-container {
        border: 1px solid $snuff;
    }
    &__view {
        width: 100%;
        padding-top: 50%;
        .cr-boundary {
            position: absolute;
            top: 0;
            left: 0;
        }
        .cr-slider-wrap {
            display: none;
        }
    }
    .croppie-container {
        .cr-viewport {
            box-shadow: 0 0 2000px 2000px rgba(0, 0, 0, .1);
        }
    }
    &__caption {
        position: absolute;
        top: 1rem;
        left: 1rem;
    }
    &__actions {
        padding: 1rem;
        text-align: center;
    }
}