.custom-select {
    position: relative;
    padding: 0;
    padding: 6px 12px;
    box-sizing: border-box;
    clear: both;
    cursor: pointer;
    background: $snuff;

    &:after {
        content: '';
        display: block;
        position: absolute;
        top: 10px;
        right: 15px;
        width: 0;
        height: 0;
        margin-left: 2px;
        border-top: .8em dashed;
        border-right: .8em solid transparent;
        border-left: .8em solid transparent;
    }

    & .current-value {
        display: block;
        padding: 0;
    }

    & .options-list {
        position: absolute;
        left: 0;
        top: 0;
        display: block;
        width: 100%;
        box-sizing: border-box;
        overflow: hidden;
        padding: 0;
        z-index: 10;
        background-color: $snuff;
    }

    & .option {
        position: relative;
        margin: 0 20px;
        padding: 6px 12px;
        list-style-type: none;
        cursor: pointer;
        &:hover {
            background: $alto;
        }

        &:not(:last-child) {
            border-bottom: 1px solid $logan;
        }

        & .btn-info {
            display: block;
            position: absolute;
            right: 35px;
            top: 0;
            height: 100%;
            background: none !important;
            border: none;
            color: black;
        }
    }
}

// Start medias query
@media (min-width: 768px) {
    .custom-select {
        &:before {
             content: '';
            display: block;
            position: absolute;
            left: -18px;
            top: -1px;
            width: 0;
            height: 0;
            margin-left: 2px;
            border-right: 16px dashed #E4E4F2;
            border-top: 16px solid transparent;
            border-bottom: 16px solid transparent;
            z-index: 15;
        }
    }
}