// .exp-checkbox {
//     display: inline-block;
//     box-sizing: border-box;
//     margin: 0 10px 0 0;
//     padding: 0;
//     border: 2px solid $alto;
//     width: $exp_checkbox_size;
//     height: $exp_checkbox_size;

//     &.active {
//         border-color: $logan;
//         position: relative;
//         &:before {
//             content: '';
//             display: block;
//             position: absolute;
//             bottom: $exp_checkbox_size / 3;
//             right: 0;
//             width: $exp_checkbox_size - $exp_checkbox_size / 3;
//             height: $exp_checkbox_size / 3;
//             border-bottom: 2px solid $logan;
//             border-left: 2px solid $logan;
//             transform: rotate(-45deg);
//         }
//     }
// }

.icheckbox_minimal-aero {
    background: none;
    border: 2px solid $logan;
    &.checked {
        border-color: $logan;
        position: relative;
        &:before {
            content: '';
            display: block;
            position: absolute;
            bottom: $exp_checkbox_size / 3;
            right: 1px;
            width: $exp_checkbox_size - $exp_checkbox_size / 3;
            height: $exp_checkbox_size / 3;
            border-bottom: 2px solid $logan;
            border-left: 2px solid $logan;
            transform: rotate(-45deg);
        }
    }
}

.iradio_minimal-aero {
    background: none;
    border: 2px solid $logan;
    border-radius: 50%;
    &.checked {
        border-color: $logan;
        position: relative;
        &:before {
            content: '';
            display: block;
            position: absolute;
            border-radius: 50%;
            bottom: 2px;
            left: 2px;
            width: 10px;
            height: 10px;
            background: $logan;
        }
    }
}