.exp-spinner {
    display: block;
    position: relative;
    min-width: 200px;
    overflow: hidden;

    .value {
        text-align: left;
        overflow: hidden;
        display: block;
        background-color: $snuff;
        min-width: 100px;
        padding: 6px 12px;
        border: 1px solid $snuff;
    }

    .buttons {
        float: right;
    }

    .plus,
    .minus {
        margin-left: .7rem;
        padding-left: 1.22rem;
        padding-right: 1.22rem;
    }
}

@media only screen and (min-width: 768px) {
    .exp-spinner {
        margin-left: 1.3rem;

        &:before {
            content: '';
            display: block;
            position: absolute;
            left: -17px;
            top: 0px;
            border-right: 17px dashed #E4E4F2;
            border-top: 17px solid transparent;
            border-bottom: 17px solid transparent;
        }    
    }
}