.field-inline {
    &-label {
        display: block;
        min-width: 7.5em;
        line-height: 34px;
        padding-right: 1em;
    }

    &-field {
        display: block;
        overflow: hidden;
        input {
            width: 100%;
        }
    }
}

.field-inline--flex {
    display: flex;
    .field-inline-label {
        min-width: 5px;
    }
    .field-inline-field {
        padding-right: 1rem;
    }
}

.field-inline--labels-align {
    display: table-row;
    .field-inline-label {
        display: table-cell;
        white-space: pre;
    }
    .field-inline-field {
        display: table-cell;
        vertical-align: middle;
        padding-bottom: 15px;
        width: 100%;
    }
}

@media (min-width: 768px) {
    .field-inline {
        &-label {
            float: left;
        }
    }
}