.field-triangle {
    display: flex;
    align-items: center;
    &__triangle {
        display: none;
        border-bottom: 16px solid transparent;
        border-top: 16px solid transparent;
        border-right: 16px solid $snuff;
        height: 0;
        width: 0;
    }
}

@media (min-width: 768px) {
    .field-triangle {
        &__triangle {
            display: block;
        }
    }
}