$block: ".group-content";

#{$block} {
    display: inline-block;
    width: 100%;
    position: relative;
    vertical-align: middle;
    margin-top: 5px;

    @at-root {
        &__element {
            display: inline-block;
            overflow: hidden;
            vertical-align: middle;
            white-space: nowrap;
            margin-bottom: 5px;
            @at-root {
                &--right {
                    // @extend #{$block}__element;
                    margin-left: .7rem;
                    float: right;
                }
            }
        }
    }
}

@media (max-width: 920px) {
    #{$block} {
        @at-root {
            &__element {
                @at-root {
                    &--xs-block {
                        display: block;
                        margin-bottom: 1.3rem;
                    }
                    &--xs-full {
                        width: 100%;
                    }
                }
            }
        }
    }
}