$block: ".input-calendar"; 

#{$block} {
    &__input {
        border-right-style: none;
    }
    &__icon {
        font-size: 1.2em;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        background-color: inherit;
        border-left-style: none;
    }
}


#{$block}--blue {
    & #{$block}__input {
        @extend #{$block}__input;
        background-color: $snuff;
    }
    & #{$block}__icon {
        @extend #{$block}__icon;
        background-color: $snuff;
        color: $cornflowerBlue;
    }
}