$block: ".popover";

#{$block} {
    .popover-title {
        background: none;
        border: none;
    }
    .close {
        display: none;
    }
}

@media (max-width: 768px) {
    #{$block} {
        left: 5% !important;
        min-width: 85%;
        max-width: inherit;
        .arrow {
            display: none;
        }
        .close {
            display: block;
        }
    }
}